__pycache__/
*.pyc
venv/
.env
*.db
.pytest_cache/
.coverage
instance/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
variables.tf.backup
*.tfplan
*.tfplan.*

# jenkins
jenkins-data/